/****** GENERALE *******/

* {
	box-sizing: border-box;
}

body {
	font-family: 'Piazzolla', serif;
}

a {
	text-decoration: none;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0px 15px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/****** HEADER ******/
header {
	background: #ccffcc;
	text-align: center;
}

header img {
	width: 160px;
}

header .logo-container {
	padding: 20px;
}

/****** NAVIGAZIONE *****/
nav ul {
	list-style-type: none;
}

nav li {
	display: inline-block;
	padding: 8px 6px 8px 6px;
	text-transform: uppercase;
}

nav a {
	color: white;
	text-decoration: none;
}

nav {
	background: #00b36b;
}

/****** GALLERY ******/

#gallery img {
 width: 100%
}

#gallery .item img {
 float: left;
 width: 50%;
 padding: 8px;
 }

#gallery {
	padding-top: 10px;
	padding-bottom: 10px;
}

#gallery .caption {
	background: #ccffcc;
	padding: 5px;
}

#gallery .caption p {
	margin: 0;
}

/****** FOOTER ********/

footer.main {
	clear: both;
}